{% extends 'base.html' %}
{% block content %}
    {% if response %}
        {% with pergunta=code resposta=response %}
            {% include "respostas.html" %}
        {% endwith %}
    {% else %}
        {% with pergunta="Pergunta" resposta="Resposta" %}
            {% include "respostas.html" %}
        {% endwith %}
    {% endif %}
    <br>
    <br>
    <form method="POST" action="{% url 'geral' %}">
        {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" name="code" placeholder="Digite uma pergunta para a I.A" rows="3">{{code}}</textarea>
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="code1" placeholder="Digite o comportamento da I.A" rows="3">{{code1}}</textarea>
        </div>
        
        
        <br>
        <button type="submit" class="btn btn-secondary">Enviar</button>
    </form>
{% endblock content %}
