{% comment %} help do username {% endcomment %}
<span class="form-text text-muted">
    <small>
        No máximo 150 caracteres. letras, números e @/./_/-/_ somente
    </small>
</span>

{% comment %} help do password {% endcomment %}
<ul class="form-text text-muted small">
    <li>
        Sua senha não pode ser similar a outras informações pessoais.
    </li>

    <li>
        Sua senha precisa conter no mínimo 8 caracteres.
    </li>

    <li>
        Sua senha não pode ser uma senha comum.
    </li>

    <li>
        Sua senha não pode conter somente números.
    </li>
</ul>

{% comment %} help do password 2 {% endcomment %}
<ul class="form-text text-muted">
    <small>
        Para verificação é necessário digitar a mesma senha.
    </small>
</ul>